body {
    /* todo  inserire uno sfondo*/
    background-image: url(../img/logo_default.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-family: Roboto, Arial, Georgia, "Times New Roman";
    background-color: red;
}


/* utilities */


/* text colors */

.text-label {
    color: rgba(135, 9, 9, 1);
}


/* font size */

.fs-14px {
    font-size: 12px;
}


/* form style */

#data-form {
    background-color: white;
    border-radius: 25px;
    border: rgb(171, 16, 16) 5px solid;
    padding: 25px;
    margin-top: 64px;
    font-size: 12px;
}


/* titolo */

#form-title {
    color: rgb(209, 22, 22);
}


/* corpo del form */

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#floatingPassword {
    background-color: rgba(152, 150, 150, 0.571);
}


/* effetto sul focus  */

.form-control:focus {
    color: #212529;
    border-color: rgba(152, 150, 150, 0.571);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(152, 150, 150, 25%);
}